<header>
    <div class="header-container">
      <a href="/">
        <img src="/images/logo_transparent.png" alt="Logo" class="header-logo">
      </a>
      <h1>Only Members</h1>
    </div>
  </header>